.field__section.page-block {
  margin: 110px 0 0 0;

  @include vp--1023 {
    margin: 0;
  }
}

.field .feedback-section {
  margin: 105px 0 0 0;

  @include vp--1023 {
    margin: 89px 0 0 0;
  }
}

.field__section.page-block li {
  @include vp--1023 {
    &:last-child {
      display: none;
    }
  }
}

.field .banner__info-block {
  @include vp--1023 {
    padding-right: 0;
  }
}

.field .banner__title {
  max-width: 95%;

  @include vp--1023 {
    max-width: initial;
  }
}
