.page-scope__section {
  margin-bottom: 110px;

  @include vp--1023 {
    margin-bottom: 70px;

    &:nth-last-child(2) {
      margin-bottom: 85px;
    }
  }

  @include vp--767 {
    margin-bottom: 70px;

    &:nth-last-child(2) {
      margin-bottom: 68px;
    }
  }
}
