.product-buy {
  padding-bottom: 78px;

  @include vp--1023 {
    padding-bottom: 89px;
  }

  @include vp--767 {
    padding-bottom: 69px;
  }
}

.product-buy .title--h2 {
  margin: 0 0 41px;
  line-height: 130%;

  @include vp--1023 {
    font-size: 44px;
    line-height: 100%;
  }

  @include vp--767 {
    margin-bottom: 33px;
    font-size: 28px;

    span {
      display: block;
    }
  }
}

.product-buy__wrapper {
  display: grid;
  grid-template-columns: 575px 48.6%;
  justify-content: space-between;
  column-gap: 41px;

  @include vp--1439 {
    grid-template-columns: 522px 41.6%;
  }

  @include vp--1023 {
    display: block;
  }
}

.product-buy__col {
  position: relative;

  @include vp--1023 {
    margin-bottom: 36px;

    &:last-child {
      margin: 0;
    }
  }

  @include vp--767 {
    margin-bottom: 25px;
  }
}

.product-buy__col img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-buy__description {
  max-width: 630px;
  width: 100%;
  margin-bottom: 91px;
  font-size: 20px;
  line-height: 155%;

  span {
    display: block;
  }

  @include vp--1023 {
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 130%;
  }
}

.product-buy__description p {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }
}


.product-buy__link {
  display: flex;
  width: 220px;
  height: 60px;

  @include vp--1023 {
    width: 170px;
    height: 48px;
    margin: 0 auto;
  }

  @include vp--767 {
    width: 161px;
    height: 41px;
  }
}

.product-buy__link a {
  width: 100%;
}

.product-buy__col .slider-image__btn {
  top: 189px;

  @include vp--1023 {
    top: calc(50% - 27px);
  }
}
