.search-form {
  padding-right: 10px;
}

.search-form form {
  display: grid;
  grid-template-columns: 65px 1fr 110px 110px;
  grid-template-rows: 61px;
  align-items: center;
  position: relative;

  @include vp--1023 {
    grid-template-columns: 52px 1fr 80px 90px;
  }

  @include vp--767 {
    grid-template-columns: 42px 1fr 50px 55px;
  }

  & input[type="search"]::placeholder {
    color: $color-black-russian;
  }
}

.search-form label {
  display: block;
  grid-column: 1;
  grid-row: 1;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  flex-shrink: 0;

  @include vp--1023 {
    margin-left: 30px;
  }

  @include vp--767 {
    margin-left: 20px;
  }
}

.search-form svg {
  width: 25px;
  height: 25px;
  display: block;
  color: $color-cobalt;

  @include vp--1023 {
    width: 20px;
    height: 20px;
  }

  @include vp--767 {
    width: 14px;
    height: 14px;
    color: $color-black-russian;
  }
}

.search-form input {
  grid-column: 1/4;
  grid-row: 1;
  padding: 15px 40px 15px 85px;
  border-radius: 30px;
  border: 1px solid $color-periwinkle;
  background-color: $color-transparent;
  height: 61px;

  @include vp--1023 {
    height: 52px;
    padding-left: 60px;
  }

  @include vp--767 {
    height: 42px;
    padding-left: 44px;
  }

  &:focus {
    outline: none;
    background-color: $color-transparent;
  }

  &:focus::placeholder {
    color: $color-default-white;
  }
}

.search-form input:hover::placeholder {
  color: $color-cobalt-2;
}

.search-form button {
  position: relative;
  height: 61px;
  width: 220px;
  min-width: 220px;
  grid-column: 3/4;
  grid-row: 1;
  margin: 0;

  @include vp--1023 {
    width: 170px;
    min-width: 170px;
    height: 52px;
  }

  @include vp--767 {
    width: 105px;
    min-width: 105px;
    height: 42px;
  }
}
