include ../data/placeholder
include ../data/header
include ../data/promo
include ../data/main-projects
include ../data/news
include ../data/breadcrumbs
include ../data/text-page
include ../data/search-result
include ../data/pagination
include ../data/main-scope
include ../data/main-solutions
include ../data/main-news
include ../data/main-qanda
include ../data/catalog-checkboxes
include ../data/catalog-select
include ../data/catalog-items
include ../data/banner
include ../data/contacts
include ../data/scope-solutions
include ../data/configuration
include ../data/solutions-group
include ../data/components
include ../data/staff
include ../data/product-card
include ../data/configuration-groups
include ../data/company-info
include ../data/advantage
include ../data/main-services
include ../data/one-news
