include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/picture
include ../mixins/basic/picture-media
include ../mixins/basic/link

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
include ../mixins/modals/modal-zoom

include ../mixins/components/nav
include ../mixins/components/breadcrumbs
include ../mixins/components/banner
include ../mixins/components/feedback
include ../mixins/components/form
include ../mixins/components/page-title
include ../mixins/components/pagination
include ../mixins/components/product-item
include ../mixins/components/products-block
include ../mixins/components/section-page-block
include ../mixins/components/section-solutions
include ../mixins/components/show-more-link
include ../mixins/components/advantage
include ../mixins/components/partners
include ../mixins/components/accordion
include ../mixins/components/items-list
include ../mixins/components/scope-list
include ../mixins/components/solutions-list
include ../mixins/components/contact-lists
include ../mixins/components/slider-image
include ../mixins/components/product-card
include ../mixins/components/product-buy
include ../mixins/components/tab-info
include ../mixins/components/specification-table
include ../mixins/components/product-offer
include ../mixins/components/product-advantage
include ../mixins/components/product-similar
include ../mixins/components/search-form
