mixin modal-success()
  .modal__header
    a(href="main.html", aria-label="Переход на главную")
      +icon("icon-logo-tablet", 108, 30)
  p.modal__title.modal__title--success Спасибо за ваш запрос!
    br
    | Мы свяжемся с вами в ближайшее время!
