$color-default-black:             #000000;
$color-default-black-2:           rgba(0, 0, 0, 0.2);
$color-default-black-3:           rgba(0, 0, 0, 0.8);
$color-default-white:             #ffffff;
$color-default-white-2:           rgba(255, 255, 255, 0.4);
$color-default-white-3:           rgba(255, 255, 255, 0.6);
$color-default-white-4:           rgba(255, 255, 255, 0.75);
$color-default-white-5:           rgba(255, 255, 255, 0.9);
$color-default-white-6:           rgba(255, 255, 255, 0.1);
$color-transparent:               rgba(255, 255, 255, 0);
$color-cobalt:                    #0046c8;
$color-cobalt-2:                  #023daa;
$color-cobalt-3:                  rgba(0, 70, 200, 0.5);
$color-cobalt-4:                  rgba(0, 70, 200, 0.7);
$color-blue:                      #2c39f2;
$color-white-smoke:               #f3f3f3;
$color-periwinkle:                #c3c9e2;
$color-periwinkle-2:              rgba(195, 201, 226, 0.5);
$color-black-russian:             #222326;
$color-black-russian-2:           rgba(34, 35, 38, 0.4);
$color-black-russian-3:           rgba(34, 35, 38, 0.7);
$color-black-russian-4:           rgba(34, 35, 38, 0.6);
$color-black-russian-5:           rgba(34, 35, 38, 0.3);
$color-spun-pearl:                rgba(34, 35, 38, 0.4);
$color-spun-pearl-2:              rgba(34, 35, 38, 0.7);
$color-white-smoke:               #f3f3f3;
$color-wisper:                    #e5e5e5;
$color-whisper:                   #e8e8e8;
$font-family--tt-commons:           "TT Commons", "Arial", sans-serif;
$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
