-
  const banner = {
    "1":{
      title: "Радиоизмерения",
      text: "Класс РИП охватывает средства измерений разных видов&nbsp;&mdash; не&nbsp;только собственно измерительные приборы, но и меры, измерительные преобразователи, измерительные установки, различные вспомогательные устройства. В&nbsp;состав РИП входят самые разнообразные средства для измерений параметров радиоустройств и&nbsp;их компонентов, характеристик электрических сигналов, электромагнитного поля, электрических и&nbsp;магнитных свойств материалов.",
      img: "banner-scope-1",
    },
    "2":{
      title: "О компании",
      text: "Компания «Модульные Измерительные Решения» является эксклюзивным партнером «YEA Engineering» и авторизованным дистрибьютором «National Instruments» на территории РФ. <p> Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
      img: "banner-about",
    },
    "3": {
      title: "Модульные измерительные решения",
      text: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
      img: "promo-bg-1",
    },
    "4": {
      title: "Измерительные приборы СВЧ",
      text: "Класс РИП охватывает средства измерений разных видов — не только собственно измерительные приборы, но и меры, измерительные преобразователи, измерительные установки, различные вспомогательные устройства. В состав РИП входят самые разнообразные средства для измерений параметров радиоустройств и их компонентов, характеристик электрических сигналов, электромагнитного поля, электрических и магнитных свойств материалов.",
      img: "field-banner",
    },
    "5": {
      title: "Многофункциональные измерительные устройства",
      text: "Класс РИП охватывает средства измерений разных видов — не только собственно измерительные приборы, но и меры, измерительные преобразователи, измерительные установки, различные вспомогательные устройства. В состав РИП входят самые разнообразные средства для измерений параметров радиоустройств и их компонентов, характеристик электрических сигналов, электромагнитного поля, электрических и магнитных свойств материалов.",
      img: "configuration-groups-banner",
    },
  }
