-
  var path = {
    news: [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Новости",
      },
    ],
    "text-page": [
      {
        name: "Главная",
        link: "./main.html",
      },
      {
        name: "Путь",
        link: "#",
      },
      {
        name: "Название текстовой страницы",
      },
    ],
    search: [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Поиск по сайту",
      },
    ],
    scopes: [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Сферы деятельности",
      },
    ],
    scope: [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Сферы деятельности",
        link: "./scopes.html"
      },
      {
        name: "Радиоизмерения",
      },
    ],
    catalog: [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Каталог",
      },
    ],
    contacts: [
      {
        name: "Главная",
        link: "./main.html",
      },
      {
        name: "О компании",
        link: "./about.html",
      },
      {
        name: "Контакты",
      },
    ],
    staff: [
      {
        name: "Главная",
        link: "./main.html",
      },
      {
        name: "О компании",
        link: "./about.html",
      },
      {
        name: "Ключевые сотрудники",
      },
    ],
    field: [
      {
        name: "Главная",
        link: "./main.html",
      },
      {
        name: "Сферы деятельности",
        link: "./scopes.html",
      },
      {
        name: "Радиоизмерения",
        link: "./scope.html",
      },
      {
        name: "Измерительные приборы СВЧ",
      },
    ],
    "product-card": [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Сферы деятельности",
        link: "./scopes.html",
      },
      {
        name: "Радиоизмерения",
        link: "./scope.html",
      },
      {
        name: "Измерительные приборы СВЧ",
        link: "#"
      },
      {
        name: "Многофункциональные измерительные устройства",
        link: "#"
      },
      {
        name: "Многофункциональный комплекс RF-bench - 6-в-1",
      },
    ],
    "configuration-groups": [
      {
        name: "Главная",
        link: "./main.html"
      },
      {
        name: "Сферы деятельности",
        link: "./scopes.html",
      },
      {
        name: "Радиоизмерения",
        link: "./scope.html",
      },
      {
        name: "Измерительные приборы СВЧ",
        link: "#"
      },
      {
        name: "Многофункциональные измерительные устройства",
        link: "#"
      },
    ],
    about: [
      {
        name: "",
        link: ""
      },
    ],
    "one-news": [
      {
        name: "Главная",
        link: "#"
      },
      {
        name: "Новости",
        link: "#"
      },
      {
        name: "PXIе-1486 и PXIе-1487",
        link: "#"
      },
    ],
  }
