-
  var catalogItems = [
    {
      img: "catalog-item-devices",
      title: "Многофункциональные измерительные устройства",
    },
    {
      img: "catalog-item-attenuator",
      title: "RFI2110-2-20 цифровой шаговый аттенюатор",
    },
    {
      img: "catalog-item-pxie",
      title: "RFI PXIe-2535T",
    },
    {
      img: "catalog-item-mimo",
      title: "128-канальная MIMO система",
    },
    {
      img: "catalog-item-protocols",
      title: "Система для изучения и прототипирования MAC протоколов <br> с разделением",
    },
    {
      img: "catalog-item-5g",
      title: "Система для прототипирования внутриполосного полнодуплексного приемопередатчика для мобильных систем 5G",
    },
    {
      img: "catalog-item-devices",
      title: "Многофункциональные измерительные устройства",
    },
    {
      img: "catalog-item-attenuator",
      title: "RFI2110-2-20 цифровой шаговый аттенюатор",
    },
    {
      img: "catalog-item-pxie",
      title: "RFI PXIe-2535T",
    },
    {
      img: "catalog-item-mimo",
      title: "128-канальная MIMO система",
    },
    {
      img: "catalog-item-protocols",
      title: "Система для изучения и прототипирования MAC протоколов с разделением",
    },
    {
      img: "catalog-item-5g",
      title: "Система для прототипирования внутриполосного полнодуплексного приемопередатчика для мобильных систем 5G",
    },
  ]
