-
  var catalogCheckboxes = [
    {
      title: "Производитель",
      name: ["Цифровые двойники & HIL", "Радиоизмерения", "Испытательные стенды", "Промышленный IoT и технологический мониторинг", "Образование и наука"],
      id: ["1", "2", "3", "4", "5"],
      data: "manufacturer",
    },
    {
      title: "Сферы деятельности",
      name: ["Цифровые двойники & HIL", "Радиоизмерения", "Испытательные стенды", "Промышленный IoT и технологический мониторинг", "Образование и наука"],
      id: ["twins", "measurements", "benches", "monitoring", "science"],
      data: "scopes",
    },
    {
      title: "Отрасли",
      name: ["Цифровые двойники & HIL", "Радиоизмерения", "Испытательные стенды", "Промышленный IoT и технологический мониторинг", "Образование и наука"],
      id: ["6", "7", "8", "9", "10"],
      data: "industries",
    },
  ]
