-
  var catalogSelect = [
    {
      title: "По умолчанию",
    },
    {
      title: "По популярности",
    },
    {
      title: "Цена по возрастанию",
    },
    {
      title: "Цена по убыванию",
    },
    {
      title: "Сначала новые",
    },
    {
      title: "Сначала старые",
    },
  ]
