-
  const companyInfo = {
    info: {
      title: "Сведения о&nbsp;компании",
      text: "<p>Компания «Модульные Измерительные Решения» является эксклюзивным партнером «YEA Engineering» и авторизованным дистрибьютором «National Instruments» на территории РФ.\n" +
              " Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.\n" +
              "</p>" +
              "<p>Компания «Модульные Измерительные Решения» является эксклюзивным партнером «YEA Engineering» и авторизованным дистрибьютором «National Instruments» на территории РФ.\n" +
              " Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.\n" +
              "</p>" +
              "<p>Компания «Модульные Измерительные Решения» является эксклюзивным партнером «YEA Engineering» и авторизованным дистрибьютором «National Instruments» на территории РФ.\n" +
              " Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.</p>",
    },
    partners: [
      {
        name: "partners 1",
        logo: "partners-logo-1",
        width: "67",
        height: "60",
      },
      {
        name: "partners 2",
        logo: "partners-logo-2",
        width: "116",
        height: "60",
      },
      {
        name: "partners 3",
        logo: "partners-logo-3",
        width: "150",
        height: "46",
      },
      {
        name: "partners 4",
        logo: "partners-logo-4",
        width: "92",
        height: "60",
      },
      {
        name: "partners 5",
        logo: "partners-logo-5",
        width: "138",
        height: "60",
      },
      {
        name: "partners 6",
        logo: "partners-logo-6",
        width: "150",
        height: "50",
      },
      {
        name: "partners 7",
        logo: "partners-logo-7",
        width: "91",
        height: "60",
      },
      {
        name: "partners 8",
        logo: "partners-logo-8",
        width: "150",
        height: "57",
      },
      {
        name: "partners 9",
        logo: "partners-logo-9",
        width: "150",
        height: "34",
      },
      {
        name: "partners 10",
        logo: "partners-logo-10",
        width: "143",
        height: "60",
      },
      {
        name: "partners 11",
        logo: "partners-logo-11",
        width: "64",
        height: "60",
      },
      {
        name: "partners 12",
        logo: "partners-logo-12",
        width: "150",
        height: "30",
      },
      {
        name: "partners 13",
        logo: "partners-logo-13",
        width: "150",
        height: "50",
      },
      {
        name: "partners 14",
        logo: "partners-logo-14",
        width: "150",
        height: "40",
      },
      {
        name: "partners 15",
        logo: "partners-logo-15",
        width: "150",
        height: "41",
      },
    ]
  }
