-
  const configuration = {
    title: "Программно-аппаратные конфигурации",
    link: "#",
    items: [
      {
        img: "catalog-item-mimo",
        title: "128-канальная MIMO система",
      },
      {
        img: "catalog-item-protocols",
        title: "Система для изучения и прототипирования MAC протоколов с разделением",
      },
      {
        img: "catalog-item-5g",
        title: "Система для прототипирования внутриполосного полнодуплексного приемопередатчика для мобильных систем 5G",
      },
    ]
  }
