-
  var configurationGroups = {
    link: "#",
    title: "Конфигурации",
    items: [
      {
        img: "scope-item-devices",
        title: "Многофункциональные измерительные устройства",
      },
      {
        img: "scope-item-attenuator",
        title: "RFI2110-2-20 цифровой шаговый аттенюатор",
      },
      {
        img: "scope-item-pxie",
        title: "RFI PXIe-2535T",
      },
      {
        img: "scope-item-devices",
        title: "Многофункциональные измерительные устройства",
      },
      {
        img: "scope-item-attenuator",
        title: "RFI2110-2-20 цифровой шаговый аттенюатор",
      },
      {
        img: "scope-item-pxie",
        title: "RFI PXIe-2535T",
      },
    ],
  }
