-
  const contacts = {
    title: "Контакты",
    address: "г. Казань, ул. Солдатская, здание 8, пом. 13",
    phone: [
      {
        title: "Телефон в Казани",
        text: "+7 (843) 290-06-83",
        href: "+78432900683",
      },
      {
        title: "Телефон в Москве",
        text: "+7 (495) 783-68-51",
        href: "+74957836851",
      },
      {
        title: "Телефон в Новосибирске",
        text: "+7 (913) 377-44-24",
        href: "+79133774424",
      },
    ],
    email: [
    {
      title: "Email",
      text: "info@izmeril.ru",
      href: "info@izmeril.ru",
    },
    {
      title: "Техническая поддержка",
      text: "support@izmeril.ru",
      href: "support@izmeril.ru",
    },

    ]
  }
