-
  const headerNav = [
    {
      name: "Сферы деятельности",
      links: [
        {
          href: "#",
          text: "Цифровые двойники & HIL"
        },
        {
          href: "/scope.html",
          text: "Радиоизмерения"
        },
        {
          href: "#",
          text: "Испытательные стенды"
        },
        {
          href: "#",
          text: "Промышленный IoT и технологический мониторинг"
        },
        {
          href: "#",
          text: "Образование и наука"
        },
      ],
    },
    {
      name: "Примеры решений",
      links: [
        {
          href: "#",
          text: "Цифровые двойники & HIL"
        },
        {
          href: "#",
          text: "Радиоизмерения"
        },
        {
          href: "#",
          text: "Испытательные стенды"
        },
        {
          href: "#",
          text: "Промышленный IoT и технологический мониторинг"
        },
        {
          href: "#",
          text: "Образование и наука"
        },
      ],
    },
    {
      href: "/news.html",
      text: "Новости"
    },
    {
      name: "Отрасли",
      links: [
        {
          href: "#",
          text: "Цифровые двойники & HIL"
        },
        {
          href: "/scope.html",
          text: "Радиоизмерения"
        },
        {
          href: "#",
          text: "Испытательные стенды"
        },
        {
          href: "#",
          text: "Промышленный IoT и технологический мониторинг"
        },
        {
          href: "#",
          text: "Образование и наука"
        },
      ],
    },
    {
      href: "#",
      text: "National Instruments"
    },
    {
      href: "#",
      text: "Обучение"
    },
    {
      name: "Каталог",
      links: [
        {
          href: "#",
          text: "Цифровые двойники & HIL"
        },
        {
          href: "#",
          text: "Радиоизмерения"
        },
        {
          href: "#",
          text: "Испытательные стенды"
        },
        {
          href: "#",
          text: "Промышленный IoT и технологический мониторинг"
        },
        {
          href: "#",
          text: "Образование и наука"
        },
      ],
    },
    {
      name: "О компании",
      links: [
        {
          href: "/about.html",
          text: "О компании"
        },
        {
          href: "/staff.html",
          text: "Сотрудники"
        },
        {
          href: "/contacts.html",
          text: "Контакты"
        },
      ],
    },
    {
      href: "#",
      text: "Сервис"
    },
  ]

  const headerContacts = [
    {
      mod: "tel",
      link: {
        href: "tel:+78432900683",
        text: "+7 (843) 290-06-83"
      },
    },
    {
      mod: "mail",
      link: {
        href: "mailto:info@izmeril.ru",
        text: "info@izmeril.ru"
      },
    },
    {
      mod: "search",
      btn: "Поиск"
    },
    {
      mod: "feedback",
      btn: "Свяжитесь с нами"
    },
  ]
