-
  var mainScope = [
    {
      title: "Цифровые двойники & HIL",
      img: "main-scope-item-twins",
      width: "271",
      height: "138",
    },
    {
      title: "Радиоизмерения",
      img: "main-scope-item-radio",
      width: "273",
      height: "135",
    },
    {
      title: "Испытательные стенды",
      img: "main-scope-item-benches",
      width: "294",
      height: "142",
    },
    {
      title: "Промышленный IoT и технологический мониторинг",
      img: "main-scope-item-iot",
      width: "255",
      height: "161",
    },
    {
      title: "Образование и наука",
      img: "main-scope-item-science",
      width: "289",
      height: "167",
    },
  ]
