-
  var mainProjects = [
    {
      title: "NI LabVIEW",
      type: "Радиоизмерения",
      img: "main-projects-item-labview",
    },
    {
      title: "Moku:Go",
      type: "Радиоизмерения",
      img: "main-projects-item-moku",
    },
    {
      title: "Profskills-lab",
      type: "Радиоизмерения",
      img: "main-projects-item-prof",
    },
    {
      title: "NI LabVIEW",
      type: "Радиоизмерения",
      img: "main-projects-item-labview",
    },
    {
      title: "Moku:Go",
      type: "Радиоизмерения",
      img: "main-projects-item-moku",
    },
    {
      title: "Profskills-lab",
      type: "Радиоизмерения",
      img: "main-projects-item-prof",
    },
    {
      title: "NI LabVIEW",
      type: "Радиоизмерения",
      img: "main-projects-item-labview",
    },
    {
      title: "Moku:Go",
      type: "Радиоизмерения",
      img: "main-projects-item-moku",
    },
    {
      title: "Profskills-lab",
      type: "Радиоизмерения",
      img: "main-projects-item-prof",
    },
  ]
