-
  var mainSolutions = [
    {
      title: "Автомобилестроение",
      svg: "main-solutions-item-auto",
      width: "40",
      height: "40",
      modifier: "auto",
    },
    {
      title: "Аэрокосмическая отрасль",
      svg: "main-solutions-item-space",
      width: "40",
      height: "40",
      modifier: "space",
    },
    {
      title: "Программно определяемое радио (SDR)",
      svg: "main-solutions-item-radio",
      width: "40",
      height: "40",
      modifier: "radio",
    },
    {
      title: "Измерительные приборы СВЧ",
      svg: "main-solutions-item-microwave",
      width: "40",
      height: "40",
      modifier: "microwave",
    },
    {
      title: "Автоматизированные измерительные комплексы",
      svg: "main-solutions-item-complexes",
      width: "40",
      height: "40",
      modifier: "complexes",
    },
    {
      title: "Стендовые испытания ГТД",
      svg: "main-solutions-item-tests",
      width: "40",
      height: "40",
      modifier: "tests",
    },
    {
      title: "Аэродинамические испытания",
      svg: "main-solutions-item-aerodynamic",
      width: "40",
      height: "40",
      modifier: "aerodynamic",
    },
    {
      title: "Динамические виброакустические испытания",
      svg: "main-solutions-item-dynamic",
      width: "40",
      height: "40",
      modifier: "dynamic",
    },
    {
      title: "Статические прочностные испытания",
      svg: "main-solutions-item-static",
      width: "40",
      height: "40",
      modifier: "static",
    },
    {
      title: "Теплопрочностные испытания",
      svg: "main-solutions-item-thermal",
      width: "40",
      height: "40",
      modifier: "thermal",
    },
    {
      title: "Огневые испытания",
      svg: "main-solutions-item-fire",
      width: "30",
      height: "40",
      modifier: "fire",
    },
    {
      title: "Системы мониторинга",
      svg: "main-solutions-item-monitoring",
      width: "40",
      height: "40",
      modifier: "monitoring",
    },
    {
      title: "Система мониторинга вращающихся механизмов",
      svg: "main-solutions-item-rotating",
      width: "40",
      height: "40",
      modifier: "rotating",
    },
    {
      title: "Сигнатурный анализ электрических параметров",
      svg: "main-solutions-item-signature",
      width: "35",
      height: "40",
      modifier: "signature",
    },
    {
      title: "Трибодиагностика",
      svg: "main-solutions-item-tribodiagnostics",
      width: "40",
      height: "40",
      modifier: "tribodiagnostics",
    },
    {
      title: "Предиктивная аналитика",
      svg: "main-solutions-item-predictive",
      width: "35",
      height: "40",
      modifier: "predictive",
    },
  ]
