-
  var mainServices = [
    {
      title: "Сервисные услуги",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      ariaLabel: "Переход ко всем услугам",
      img: "main-services-services-bg",
      buttonText: "Все услуги",
      color: "black",
    },
    {
      title: "Обучающие курсы",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      ariaLabel: "Переход ко всем курсам",
      img: "main-services-courses-bg",
      buttonText: "Выбрать курс",
      color: "blue",
    },
  ]
