-
  var mainNews = [
    {
      title: "Высокопроизводительный осциллограф DPO70000SX ATI",
      day: "23",
      month: "06",
      year: "2021",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
    },
    {
      title: "Параметрический анализатор Keithley 4200A-SCS",
      day: "23",
      month: "06",
      year: "2021",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
    },
    {
      title: "Онлайн семинар «Современные технологии для лабораторного практикума в дистанционном формате»",
      day: "23",
      month: "06",
      year: "2021",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
    },
  ]
