-
  var mainQanda = [
    {
      question: "Как заказать решение для нефтегазовой отрасли?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "order",
    },
    {
      question: "Сколько стоит наладка полного комплекса решений?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "solutions",
    },
    {
      question: "Какой транспортной компанией происходит доставка?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "delivery",
    },
    {
      question: "Проводителе ли вы обучение работе на комплексах или вы проводите обучение работе на комплексах?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "training",
    },
    {
      question: "Есть ли у вас консалтинг внешних решений?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "consulting",
    },
    {
      question: "Как быстро заключается договор поставки?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "contract",
    },
    {
      question: "Сколько дней вы проводите рассчет стоимости решения решения и други действия с продукцией которую вы продаете и используете и используете с другими компонентами такими как другая продукция?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "expect",
    },
    {
      question: "Возможна ли поставка в другие страны?",
      answer: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      data: "countries",
    },
  ]
