-
  var news = [
    {
      title: "PXIе-1486 и PXIе-1487 <br> FPD-LINK III и GMSL2 интерфейсные модули технологии PXI FlexRIO",
      text: "23-я Международная выставка электронных компронентов, модулей и комплектующих пройдет 13-15 апреля 2021 года в Москве, МВЦ «Крокус Экспо», павильон А1016.",
      img: "news-item-1",
      date: {
        datetime: "2021-06-23T08:03",
        text: "23.06.2021"
      },
      link: "#"
    },
    {
      title: "SYSTEMLINK 2021",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      img: "news-item-2",
      date: {
        datetime: "2021-06-02T08:03",
        text: "02.06.2021"
      },
      link: "#"
    },
    {
      title: "Новое поколение SDR — USRP X410",
      text: "NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus USRP X410 построен на базе Xilinx Zynq UltraScale+  RFSoC.",
      img: "news-item-3",
      date: {
        datetime: "2021-06-01T08:03",
        text: "01.06.2021"
      },
      link: "#"
    },
    {
      title: "PXIe-3717 14-битный осциллограф, 400 МГц, 1 Гвыб/с",
      text: "23-я Международная выставка электронных компронентов, модулей и комплектующих пройдет 13-15 апреля 2021 года в Москве, МВЦ «Крокус Экспо», павильон А1016.",
      img: "news-item-4",
      date: {
        datetime: "2021-06-23T08:03",
        text: "23.06.2021"
      },
      link: "#"
    },
    {
      title: "Система VCSEL I-V TEST SUBSYSTEM",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      img: "news-item-5",
      date: {
        datetime: "2021-06-02T08:03",
        text: "02.06.2021"
      },
      link: "#"
    },
    {
      title: "Онлайн семинар «Современные технологии для лабораторного практикума в дистанционном формате»",
      text: "NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus USRP X410 построен на базе Xilinx Zynq UltraScale+  RFSoC.",
      img: "news-item-6",
      date: {
        datetime: "2021-06-01T08:03",
        text: "01.06.2021"
      },
      link: "#"
    },
    {
      title: "PXIе-1486 и PXIе-1487 <br> FPD-LINK III и GMSL2 интерфейсные модули технологии PXI FlexRIO",
      text: "23-я Международная выставка электронных компронентов, модулей и комплектующих пройдет 13-15 апреля 2021 года в Москве, МВЦ «Крокус Экспо», павильон А1016",
      img: "news-item-7",
      date: {
        datetime: "2021-06-23T08:03",
        text: "23.06.2021"
      },
      link: "#"
    },
    {
      title: "SYSTEMLINK 2021",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      img: "news-item-8",
      date: {
        datetime: "2021-06-02T08:03",
        text: "02.06.2021"
      },
      link: "#"
    },
    {
      title: "Новое поколение SDR — USRP X410",
      text: "NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus USRP X410 построен на базе Xilinx Zynq UltraScale+  RFSoC.",
      img: "news-item-9",
      date: {
        datetime: "2021-06-01T08:03",
        text: "01.06.2021"
      },
      link: "#"
    },
    {
      title: "PXIe-3717 14-битный осциллограф, 400 МГц, 1 Гвыб/с",
      text: "23-я Международная выставка электронных компронентов, модулей и комплектующих пройдет 13-15 апреля 2021 года в Москве, МВЦ «Крокус Экспо», павильон А1016.",
      img: "news-item-10",
      date: {
        datetime: "2021-06-23T08:03",
        text: "23.06.2021"
      },
      link: "#"
    },
    {
      title: "Система VCSEL I-V TEST SUBSYSTEM",
      text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
      img: "news-item-11",
      date: {
        datetime: "2021-06-02T08:03",
        text: "02.06.2021"
      },
      link: "#"
    },
    {
      title: "Онлайн семинар «Современные технологии для лабораторного практикума в дистанционном формате»",
      text: "NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus USRP X410 построен на базе Xilinx Zynq UltraScale+  RFSoC.",
      img: "news-item-12",
      date: {
        datetime: "2021-06-01T08:03",
        text: "01.06.2021"
      },
      link: "#"
    }
  ]
