-
  var oneNews = {
    title: "PXIе-1486 и PXIе-1487 FPD-LINK III и GMSL2 интерфейсные модули технологии PXI FlexRIO",
    imgUrl: "one-news-main",
    news: {
      title: "Заголовок H2",
      articles: [
        {
          title: "Описание модулей",
          text: "PXIe-1486 и PXIe-1487 представляют ключевую технологическую возможность для NI в автомобильных программно-аппаратных приложениях, таких как Усовершенствованная система помощи водителю  (ADAS) и автопилот Autonomous Drive (AD). Данные модули обеспечивают интерфейсные подключения FPD-Link III и GMSL2 PXI к современным датчикам камер ADAS / AD с высокой пропускной способностью и электронным блокам управления (ECU), тем самым обладают крайне необходимым функционалом в автомобильной отрасли, обеспечивая запись и воспроизведение данных в эти тестируемые устройства (DUT) и из них. Модули PXIe-1486 и PXIe-1487, основанные на технологии FlexRIO, позволяют пользователям обрабатывать информацию в реальном времени, синхронизировать несколько датчиков ADAS и передавать данные на объединительную плату PXI со скоростью PCI Express x8 Gen 3.",
          imgUrl: "one-news-article",
          imgCaption: "NI Ettus USRP X410",
        },
        {
          title: "Ценностное предложение",
          text: "PXIe-1486 и PXIe-1487 представляют ключевую технологическую возможность для NI в автомобильных программно-аппаратных приложениях, таких как Усовершенствованная система помощи водителю  (ADAS) и автопилот Autonomous Drive (AD). Данные модули обеспечивают интерфейсные подключения FPD-Link III и GMSL2 PXI к современным датчикам камер ADAS / AD с высокой пропускной способностью и электронным блокам управления (ECU), тем самым обладают крайне необходимым функционалом в автомобильной отрасли, обеспечивая запись и воспроизведение данных в эти тестируемые устройства (DUT) и из них. Модули PXIe-1486 и PXIe-1487, основанные на технологии FlexRIO, позволяют пользователям обрабатывать информацию в реальном времени, синхронизировать несколько датчиков ADAS и передавать данные на объединительную плату PXI со скоростью PCI Express x8 Gen 3.",
        },
      ],
      date: "01.06.2021",
    },
    also: {
      title: "Смотрите также",
      list: [
        {
          imgUrl: "one-news-also",
          title: "Компания МИР участвует в выставке ExpoElektronica 2021",
          text: "23-я Международная выставка электронных компронентов, модулей и комплектующих пройдет 13-15 апреля 2021 года в Москве, МВЦ «Крокус Экспо», павильон А1016.",
        },
        {
          imgUrl: "one-news-also",
          title: "SYSTEMLINK 2021",
          text: "Релиз SystemLink 2021 включает новые возможности навигации, включающие доступ к приложениям через модули и единую системную сетку для доступа к информации целой системы, а также мониторинга тестовых операций и управления данными испытаний.",
        },
      ],
    }
  }
