-
  const productCard = {
    title: "Многофункциональный комплекс <span>RF-bench - 6-в-1</span>",
    description: "<span>RF Bench — новая платформа для измерения СВЧ сигнала.</span>RF Bench представляет собой набор из 6 приборов, необходимых для радиоинженера, в одном формфакторе: векторный генератор сигналов, векторный анализатор сигналов, векторный анализатор цепей, программно-управляемый источник питания, датчик мощности и цифровой ввод/вывод. Наличие всех этих приборов в одной небольшой и портативной упаковке позволяет пользователю проектировать, отлаживать и проверять свои радиосхемы и системы прямо на своем стенде. Прилагаемое программное обеспечение позволяет получить доступ ко всем этим инструментам в одном окне.",
    link: {
      href: "#",
      text: "Заказать"
    },
    images: [
      {
        path: "content",
        name: "product",
        format: "jpg",
        width: "575",
        height: "430",
        altText: "image"
      },
      {
        path: "content",
        name: "product",
        format: "jpg",
        width: "575",
        height: "430",
        altText: "image"
      },
      {
        path: "content",
        name: "product",
        format: "jpg",
        width: "575",
        height: "430",
        altText: "image"
      },
    ],
    tabInfo: {
      controls: [
        "Обзор",
        "Характеристики",
        "Оборудование",
        "Документация",
        "ПО",
        "Дополнительно"
      ],
      contents: [
        {
          mod: "",
          title: "Обзор"
        },
        {
          mod: "specifications",
          title: "Характеристики",
          tables: [
            {
              title: "Векторный генератор сигнала",
              items:[
                {
                  key: "Диапазон частот",
                  value: "от 70 МГц до 6 ГГц"
                },
                {
                  key: "Шаг частоты",
                  value: "&lt;1 кГц"
                },
                {
                  key: "Максимальная выходная мощность",
                  value: "20 дБм"
                },
                {
                  key: "Мгновенная пропускная способность в реальном масштабе времени",
                  value: "56 МГц"
                },
                {
                  key: "Диапазон усиления",
                  value: "90 дБ"
                },
                {
                  key: "Количество каналов",
                  value: "2"
                },
                {
                  key: "Максимальная скорость I/Q для потоковой передачи",
                  value: "15 мс/с"
                },
                {
                  key: "Максимальная скорость для однопакетного канала",
                  value: "61,44 мс/с"
                },
                {
                  key: "Максимальная скорость для двухпакетного канала",
                  value: "30,72 мс/с"
                },
              ],
            },
            {
              title: "Векторный анализатор цепей",
              items: [
                {
                  key: "Диапазон частот",
                  value: "от 500 кГц до 4 ГГц"
                },
                {
                  key: "Количество каналов",
                  value: "2"
                },
                {
                  key: "Динамический диапазон",
                  value: "до 80 дБ в диапазоне МГц<br>до 40 дБ в диапазоне ГГц"
                },
                {
                  key: "Разрешение регулировки частоты",
                  value: "1 Гц"
                },
                {
                  key: "Количество шагов",
                  value: "от 1 до 10001"
                },
                {
                  key: "Выходная мощность",
                  value: "14 дБм при 100 МГц"
                },
                {
                  key: "Тип сканирования",
                  value: "линейный, логарифмический, список"
                },
              ],
            },
            {
              title: "Векторный анализатор сигнала",
              items: [
                {
                  key: "Диапазон частот",
                  value: "от 70 МГц до 6 ГГц"
                },
                {
                  key: "Шаг частоты",
                  value: "&lt;1 кГц"
                },
                {
                  key: "Максимальная входная мощность",
                  value: "15 дБм"
                },
                {
                  key: "Мгновенная пропускная способность в реальном масштабе времени",
                  value: "56 МГц"
                },
                {
                  key: "Диапазон усиления",
                  value: "76 дБ"
                },
                {
                  key: "Количество каналов",
                  value: "2"
                },
              ],
            },
            {
              title: "Датчик мощности",
              items: [
                {
                  key: "Диапазон частот",
                  value: "от 1 МГц до 6 ГГц"
                },
                {
                  key: "Динамический диапазон",
                  value: "от 30 дБм до +20 дБм"
                },
                {
                  key: "Количество каналов",
                  value: "1"
                },
              ],
            },
            {
              title: "Источник питания",
              items: [
                {
                  key: "Диапазон напряжения",
                  value: "от 0 В до 50 В"
                },
                {
                  key: "Диапазон тока",
                  value: "от 0 А до 5 А"
                },
                {
                  key: "Количество каналов",
                  value: "2"
                },
              ],
            },
            {
              title: "Цифровой ввод/вывод",
              items: [
                {
                  key: "Диапазон напряжения",
                  value: "от -0,5 В до 5,8 В"
                },
                {
                  key: "Количество каналов",
                  value: "12"
                },
              ],
            },
          ],
        },
        {
          mod: "",
          title: "Оборудование"
        },
        {
          mod: "",
          title: "Документация"
        },
        {
          mod: "",
          title: "ПО"
        },
        {
          mod: "",
          title: "Дополнительно"
        },
      ],
    },
    offers: {
      title: "Система RF-Bench позволяет проводить различные виды лабораторных работ",
      list: [
        {
          title: "Лабораторный курс по микрополосковым антеннам",
          desc: "«Лабораторный курс по микрополосковым антеннам» является учебной программой для изучения основных принципов работы антенн, их разновидностей, характеристик и основ передачи сигналов. Система используется в учебном процессе для ознакомления пользователя с параметрами антенн и проведения практических занятий по антенным измерениям. Лабораторный практикум предназначен для получения знаний в следующих областях:",
          descList: [
            "Основы теории антенн",
            "Параметры антенн",
          ],
          img: {
            path: "content",
            name: "product-card-offer1",
            format: "jpg",
            width: "698",
            height: "430",
            altText: "img1"
          }
        },
        {
          title: "Лабораторная установка «Основы радиопередачи и радиокомпоненты»",
          desc: "Лабораторная установка «Основы радиопередачи и радиокомпоненты» основана на платформе NI USRP или NI PXI. Программное обеспечение  разработано в графической среде программирования NI LabVIEW. Установка является обязательной учебной программой для разработки радиочастотного оборудования и изучения основ передачи сигналов. Лабораторная установка предназначена для изучения следующих основных направлений:",
          descList: [
            "Принципы работы различных активных и пассивных радиочастотных компонентов",
            "Аналоговые и цифровые модуляции",
            "Гармонический анализ модулированного сигнала"
          ],
          img: {
            path: "content",
            name: "product-card-offer2",
            format: "jpg",
            width: "698",
            height: "430",
            altText: "img2"
          }
        },
      ],
    },
    offersSpec: {
      title: "Специальное предложение для учебных заведений AWR Microwave Office + YEA RF Bench",
      list: [
        {
          title: "Учебный курс ”Проектирование и моделировние ВЧ интегральных схем в AWR”",
          desc: "Учебный курс ”Проектирование и моделировние ВЧ интегральных схем в AWR” изначально создан для курса ВЧ электроники в Университете Джеймса Кука и основан на более чем 30-летнем опыте преподавания и проектирования передовой СВЧ электроники.",
          images: [
            {
              path: "content",
              name: "product-card-offer-special",
              format: "jpg",
              width: "1436",
              height: "488",
              altText: "image1"
            },
            {
              path: "content",
              name: "product-card-offer-special",
              format: "jpg",
              width: "1436",
              height: "488",
              altText: "image2"
            },
            {
              path: "content",
              name: "product-card-offer-special",
              format: "jpg",
              width: "1436",
              height: "500",
              altText: "image3"
            },
          ],
        },
      ],
    },
    advantage: {
      title: "Преимущества, особенности",
      list: [
        {
          title: "Software-Defined Radio",
          icon: {
            name: "icon-productcard-feature1",
            width: "36",
            height: "35"
          },
          desc: "Приемопередатчики SDR семейства USRP имитируют радиоустройства с произвольной модуляцией в широкой полосе. Они оснащены ПЛИС для встроенной обработки сигналов и двусторонней стриминговой связью с вычислителями."
        },
        {
          title: "Software-Defined Radio",
          icon: {
            name: "icon-productcard-feature1",
            width: "36",
            height: "35"
          },
          desc: "Приемопередатчики SDR семейства USRP имитируют радиоустройства с произвольной модуляцией в широкой полосе. Они оснащены ПЛИС для встроенной обработки сигналов и двусторонней стриминговой связью с вычислителями."
        },
        {
          title: "Software-Defined Radio",
          icon: {
            name: "icon-productcard-feature1",
            width: "36",
            height: "35"
          },
          desc: "Приемопередатчики SDR семейства USRP имитируют радиоустройства с произвольной модуляцией в широкой полосе. Они оснащены ПЛИС для встроенной обработки сигналов и двусторонней стриминговой связью с вычислителями."
        },
        {
          title: "Software-Defined Radio",
          icon: {
            name: "icon-productcard-feature1",
            width: "36",
            height: "35"
          },
          desc: "Приемопередатчики SDR семейства USRP имитируют радиоустройства с произвольной модуляцией в широкой полосе. Они оснащены ПЛИС для встроенной обработки сигналов и двусторонней стриминговой связью с вычислителями."
        },
        {
          title: "Software-Defined Radio",
          icon: {
            name: "icon-productcard-feature1",
            width: "36",
            height: "35"
          },
          desc: "Приемопередатчики SDR семейства USRP имитируют радиоустройства с произвольной модуляцией в широкой полосе. Они оснащены ПЛИС для встроенной обработки сигналов и двусторонней стриминговой связью с вычислителями."
        },
      ],
    },
    accompanying: {
      title: "Сопутствующие товары",
      list: [
        {
          title: "Товар 1",
          link: "#",
          img: {
            path: "content",
            name: "related-products-image1",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
        {
          title: "Товар 2",
          link: "#",
          img: {
            path: "content",
            name: "related-products-image2",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
        {
          title: "Товар 3",
          link: "#",
          img: {
            path: "content",
            name: "related-products-image3",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
      ],
    },
    similar: {
      title: "Похожие конфигурации (решения)",
      list: [
        {
          title: "Конфигурация 1",
          link: "#",
          img: {
            path: "content",
            name: "similar-config1",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
        {
          title: "Конфигурация 2",
          link: "#",
          img: {
            path: "content",
            name: "similar-config2",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
        {
          title: "Конфигурация 3",
          link: "#",
          img: {
            path: "content",
            name: "similar-config3",
            format: "jpg",
            width: "452",
            height: "339",
            altText: "image"
          },
        },
      ],
    },
  }
