-
  var promo = [
    {
      title: "Модульные измерительные решения",
      text: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
      img: "promo-bg-1",
    },
    {
      title: "Модульные измерительные решения",
      text: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
      img: "promo-bg-1",
    },
    {
      title: "Модульные измерительные решения",
      text: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
      img: "promo-bg-1",
    },
  ]
