-
  const scopeSolutions = {
    title: "Отраслевые решения",
    link: "#",
    items: [
      {
        title: "Программно определяемое радио (SDR)",
        svg: "main-solutions-item-radio",
        width: "40",
        height: "40",
        modifier: "radio",
      },
      {
        title: "Аэрокосмическая отрасль",
        svg: "main-solutions-item-space",
        width: "40",
        height: "40",
        modifier: "space",
      },
      {
        title: "Измерительные приборы СВЧ",
        svg: "main-solutions-item-microwave",
        width: "40",
        height: "40",
        modifier: "microwave",
      },
    ]
  }
