-
  var searchResult = [
    {
      chapter: "Каталог",
      title: "Каталог 2.5 СВЧ & SDR системы",
      text: "Радиоизмерения Универсальные устройства SDR Бюджетные устройства SDR Автономные системы SDR Многоканальные системы SDR Системы SDR нового поколения Программно - аппаратные системы Примеры решений SDR систем",
      link: ""
    },
    {
      chapter: "Новости",
      title: "Новое поколение SDR — USRP X410 NI Ettus USRP X410",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Эмулятор радиоканала",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Обучение и мероприятия",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Каталог 2.5 СВЧ & SDR системы",
      text: "Радиоизмерения Универсальные устройства SDR Бюджетные устройства SDR Автономные системы SDR Многоканальные системы SDR Системы SDR нового поколения Программно-аппаратные системы Примеры решений SDR систем",
      link: ""
    },
    {
      chapter: "Новости",
      title: "Новое поколение SDR — USRP X410 NI Ettus USRP X410",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Эмулятор радиоканала",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Обучение и мероприятия",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Эмулятор радиоканала",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
    {
      chapter: "Каталог",
      title: "Обучение и мероприятия",
      text: "Новости 23.06.2021 Новое поколение SDR — USRP X410 NI Ettus USRP X410 — это первый высокопроизводительный SDR (программно-определяемое радио) нового поколения от Ettus Research и NI. NI Ettus",
      link: ""
    },
  ]
