-
  const solutionsGroup = {
    title: "Примеры решений",
    link: "#",
    items: [
      {
        img: "scope-item-1",
        title: "Massive MIMO с USRP",
      },
      {
        img: "scope-item-2",
        title: "Имитация радиообстановки в реальном времени",
      },
      {
        img: "scope-item-3",
        title: "Эмулятор канала MIMO PHY",
      },
    ]
  }
