-
  var staff = {

    title: "Ключевые сотрудники",
    list: [
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Главный менеджер по маркетингу",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
      {
        position: "Директор",
        name: "Курганов Рустем Маратович",
        about: "Мы выбираем и синтезируем необходимые технологии, объединяем профессиональные команды и интегрируем лучшие инженерные практики для быстрого решения научно-технической задачи.",
        photo: "staff-photo",
      },
    ],
  }
