-
  var textPage = {
    "name-page" : {
      "title-h1": "Название текстовой страницы",
      "title-h2": "Заголовок H2",
      sections: {
        "text-and-link": {
          title: "Текст и ссылка",
          text1: "Объём данных и сложность их обработки растут слишком быстро, чтобы традиционные решения центров обработки данных на основе процессоров x86 могли обеспечить производительность, необходимую для противодействия кибер-атакам и для выполнения бизнес-функций, при этом оставаясь в разумных рамках по стоимости и объему оборудования.",
          text2: "Решения ООО «МИР» расширяют функциональность серверов и хранилищ данных производства <a href=#>ЗАО «НОРСИ-ТРАНС» (ссылка)</a> на отечественной платформе «Эльбрус» для задач, связанных с интенсивной обработкой и хранением больших объёмов данных. Решения используют уникальные программные разработки и аппаратную обработку данных на быстродействующих ПЛИС.",
        },
        quote: {
          title: "Цитата",
          text: "«Эльбрус» – это российская архитектура микропроцессоров, которые не только успешно реализуют импортозамещение процессоров Intel и AMD, но и дают уникальные преимущества перед западными аналогами. Сегодня процессоры Эльбрус обеспечивают работу отечественных ПК и серверов, военной электроники, медицинского оборудования, систем АСУТП. Благодаря поддержке эмуляции архитектуры x86, процессоры Эльбрус могут использовать «стандартное» программное обеспечение, однако наилучшие результаты дают решения, разработанные с учётом всех возможностей архитектуры.",
          author: "Максим Иванов, ",
          post: "руководитель компании",
        },
        picture: {
          title: "Картинка",
          source: "text-page-picture-1",
          alt: "Фото оборудования",
          caption: "NI Ettus USRP X410",
        },
        ol: {
          title: "Нумерованный список",
          list: [
            {
              text: "8 входных каналов (GMSL2 или FPD-Link III) для регистрации данных в транспортных средствах или для тестирования камер",
              nested: [
                {
                  text: "8 входных каналов (GMSL2 или FPD-Link III) для регистрации данных в транспортных средствах или для тестирования камер",
                },
                {
                  text: "4 входных и 4 выходных (GMS2 или FPD-Link III) канала для регистрации данных в транспортных средствах",
                },
                {
                  text: "8 выходных каналов (GMSL2 или FPD-Link III) для HIL, воспроизведения в лабораториях и тестирования ECU",
                },
              ]
            },
            {
              text: "Поддержка новейших интегральных микросхем высокоскоростной связи от Texas Instruments и Maxim Integrated",
              nested: [
                {
                  text: "Texas Instruments FPD-Link III",
                  nested: [
                    {
                      text: "Сериализатор: DS90UB953",
                    },
                    {
                      text: "Десериализатор:  DS90UB954",
                    },
                  ],
                },
                {
                  text: "Maxim Integrated GMSL2",
                  nested: [
                    {
                      text: "Сериализатор: DS90UB953",
                    },
                    {
                      text: "Десериализатор:  DS90UB954",
                    },
                  ],
                },
                {
                  text: "4 входных и 4 выходных (GMS2 или FPD-Link III) канала для регистрации данных в транспортных средствах",
                },
              ],
            },
            {
              text: "Поддержка питания по коаксиальному кабелю (PoC) позволяет упростить настройку теста",
              nested: [
                {
                  text: "Возможность внутреннего питания через объединительную плату PXI",
                },
                {
                  text: "Возможность внешнего питания через предоставленный пользователем источник питания или нагрузку",
                },
                {
                  text: "4 входных и 4 выходных (GMS2 или FPD-Link III) канала для регистрации данных в транспортных средствах",
                },
              ]
            },
            {
              text: "Поддержка обратного канала I2C и интерфейса GPIO",
            },
            {
              text: "Мощность и гибкость программируемой пользователем ПЛИС Xilinx Ultrascale + KU11P",
            },
          ]
        },
        ul: {
          title: "Ненумерованный список",
          list: [
            {
              text: "Сетевая безопасность",
            },
            {
              text: "Онлайн анализ данных",
            },
            {
              text: "Защита от DDOS атак",
            },
            {
              text: "Deep Packet Inspection",
            },
            {
              text: "Журналирование трафика",
            },
            {
              text: "Эффективные кластерные хранилища",
            },
            {
              text: "Интеллектуальное сжатие данных",
            },
            {
              text: "DРаспределённые базы данных с разделяемой памятью",
            },
            {
              text: "Эффективные кластерные хранилища",
            },
            {
              text: "Интеллектуальное сжатие данных",
            },
            {
              text: "Распределённые базы данных с разд",
            },
          ],
        },
        "slider-with-text" : {
          title: "Слайдер с текстом",
          list: [
            {
              source: "text-page-slider-with-text-1",
              alt: "Изображение оборудования",
              text: "RF Bench — новая платформа для измерения СВЧ сигнала. RF Bench представляет собой набор из 6 приборов, необходимых для радиоинженера, в одном формфакторе: векторный генератор сигналов, векторный анализатор сигналов, векторный анализатор цепей, программно-управляемый источник питания, датчик мощности и цифровой ввод/вывод. Наличие всех этих приборов в одной небольшой и портативной упаковке позволяет пользователю проектировать, отлаживать и проверять свои радиосхемы и системы прямо на своем стенде. Прилагаемое программное обеспечение позволяет получить доступ ко всем этим инструментам в одном окне.",
              caption: "Пример интерфейса анализа трафика",
            },
            {
              source: "text-page-slider-with-text-1",
              alt: "Изображение оборудования",
              text: "RF Bench — новая платформа для измерения СВЧ сигнала. RF Bench представляет собой набор из 6 приборов, необходимых для радиоинженера, в одном формфакторе: векторный генератор сигналов, векторный анализатор сигналов, векторный анализатор цепей, программно-управляемый источник питания, датчик мощности и цифровой ввод/вывод. Наличие всех этих приборов в одной небольшой и портативной упаковке позволяет пользователю проектировать, отлаживать и проверять свои радиосхемы и системы прямо на своем стенде. Прилагаемое программное обеспечение позволяет получить доступ ко всем этим инструментам в одном окне.",
              caption: "Пример интерфейса анализа трафика",
            },
            {
              source: "text-page-slider-with-text-1",
              alt: "Изображение оборудования",
              text: "RF Bench — новая платформа для измерения СВЧ сигнала. RF Bench представляет собой набор из 6 приборов, необходимых для радиоинженера, в одном формфакторе: векторный генератор сигналов, векторный анализатор сигналов, векторный анализатор цепей, программно-управляемый источник питания, датчик мощности и цифровой ввод/вывод. Наличие всех этих приборов в одной небольшой и портативной упаковке позволяет пользователю проектировать, отлаживать и проверять свои радиосхемы и системы прямо на своем стенде. Прилагаемое программное обеспечение позволяет получить доступ ко всем этим инструментам в одном окне.",
            },
          ],
        },
        "text-with-streamlined-picture": {
          title: "Текст и обтекаемая картинка ",
          source: "text-page-streamlined-picture",
          alt: "Иллюстрация",
          caption: "Пример интерфейса анализа трафика",
          texts: [
            {
              paragraf: "Объём данных и сложность их обработки растут слишком быстро, чтобы традиционные решения центров обработки данных на основе процессоров x86 могли обеспечить производительность, необходимую для противодействия кибер-атакам и для выполнения бизнес-функций, при этом оставаясь в разумных рамках по стоимости и объему оборудования.",
            },
            {
              paragraf: "Решения ООО «МИР» расширяют функциональность серверов и хранилищ данных производства ЗАО «НОРСИ-ТРАНС» на отечественной платформе «Эльбрус» для задач, связанных с интенсивной обработкой и хранением больших объёмов данных.",
            },
            {
              paragraf: "Объём данных и сложность их обработки растут слишком быстро, чтобы традиционные решения центров обработки данных на основе процессоров x86 могли обеспечить производительность, необходимую для противодействия кибер-атакам и для выполнения бизнес-функций, при этом оставаясь в разумных рамках по стоимости и объему оборудования.  Решения ООО «МИР» расширяют функциональность серверов и хранилищ данных производства ЗАО «НОРСИ-ТРАНС» на отечественной платформе «Эльбрус» для задач, связанных с интенсивной обработкой и хранением больших объёмов данных. Решения используют уникальные программные разработки и аппаратную обработку данных на быстродействующих ПЛИС.",
            },
          ]
        },
        slider: {
          title: "Слайдер",
          list: [
            {
              source: "text-page-slider",
              alt: "Изображение оборудования",
            },
            {
              source: "text-page-slider",
              alt: "Изображение оборудования",
            },
            {
              source: "text-page-slider",
              alt: "Изображение оборудования",
            },
          ],
        },
        table: {
          title: "Таблица",
          head: [
            {
              text: "#",
            },
            {
              text: "Название",
            },
            {
              text: "Характеристика",
            },
            {
              text: "Параметр",
            },
            {
              text: "Параметр",
            },
            {
              text: "Параметр",
            },
          ],
          rows: {
            row1: [
              {
                text: "1",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
            ],
            row2: [
              {
                text: "2",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
            ],
            row3: [
              {
                text: "3",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
            ],
            row4: [
              {
                text: "4",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
            ],
            row5: [
              {
                text: "5",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
              {
                text: "Значение",
              },
            ],
          },
        }
      },
    },
  }
