.show-more-link {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  position: absolute;
  bottom: 0;
  padding: 54px 0 0;

  & a {
    color: $color-cobalt;
    transition: color 0.2s ease;
    user-select: none;

    &:hover {
      color: $color-default-black;
    }
  }

  @include vp--1023 {
    font-size: 14px;
    line-height: 130%;
    padding: 40px  0 0;
  }

  @include vp--767 {
    padding: 32px 0 0;
  }
}
