mixin productItem(item)
  li
    a(href="#" aria-label=`Переход к ${item.title}`).product__link
      .product__img
        +picture("content", item.img, "jpg", "452", "339", item.title)
      h3.product__name=item.title
